src/main/mule/mcp-b2b-partners-tools.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mcp="http://www.mulesoft.org/schema/mule/mcp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mcp http://www.mulesoft.org/schema/mule/mcp/current/mule-mcp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTPS_Listener_config" doc:name="HTTP Listener config" doc:id="09e313d1-9852-4651-a53a-c5faff347dc5" >
		<http:listener-connection host="0.0.0.0" port="${https.port}" connectionIdleTimeout="300000" readTimeout="300000" protocol="HTTPS">
			<reconnection >
				<reconnect-forever />
			</reconnection>
			<tls:context >
				<tls:key-store type="jks" path="server-keystore.jks" keyPassword="mule23" password="mule23" />
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<mcp:server-config name="MCP_Server_PartnersAPI" doc:name="MCP_Server_PartnersAPI" doc:id="b6c53474-c919-469a-bfa5-99c5a9d3c9e8" serverName="mcp-mule-b2b-partners" serverVersion="1.0.0">
		<mcp:streamable-http-server-connection listenerConfig="HTTPS_Listener_config"/>
	</mcp:server-config>
	<flow name="mcp-b2b-partner-get-certificates-Flow" doc:id="c52256e9-9577-4e89-a44a-fa81ee705837" >
		<mcp:tool-listener doc:name="get-b2b-partner-certificates" doc:id="e61ed8ef-0d91-400a-b80e-7ec38466c171" config-ref="MCP_Server_PartnersAPI" name="get-b2b-partner-certificates">
			<reconnect-forever />
			<mcp:description ><![CDATA[Get the list of all B2B partner certificates along with their serial number, expiry date, secret type, partner name, partner email and the partner profile URL link in Anypoint Partner Manager.]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {},
  "required": []
}]]>
			</mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		
		<logger level="INFO" doc:name="Logger" doc:id="973d2eb1-1e9d-4409-bbf6-265be9ec8349" message="Retrieving Anypoint Partner Manager Certificates" />
		<flow-ref doc:name="retrieve_anypointAccessToken" doc:id="b7e768a9-16f9-4f42-a991-03a4a065e915" name="retrieve_anypointAccessToken_Sub_Flow" />
		<try doc:name="Try" doc:id="2c885f0a-4c6b-41c0-91d1-a63811164cd0">
			<os:retrieve doc:name="Retrieve" doc:id="827637ee-2b05-480b-9380-f76e35ba1ed8" objectStore="Object_store_APM_Configs" key="apmPartnerProfiles" />
			<set-variable value="true" doc:name="apmProfilesFound - true" doc:id="ac36cce9-b880-42ca-aea6-573ef6f4a7b3" variableName="apmProfilesFound" />
			<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5018bba2-df90-42cd-bde3-2f8953ee8472" variableName="apmPartners" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="644d8609-8fe4-4d7d-a336-5a1b25b0f3dd">
					<set-variable value="false" doc:name="apmProfilesFound - false" doc:id="9754a6bd-174f-4e2f-bae0-64485dad1f09" variableName="apmProfilesFound" />
				</on-error-continue>
			</error-handler>
		</try>
		<http:request method="GET" doc:name="Get APM certificates List" doc:id="5644c4bd-8341-4ad3-99fd-71f9a1a40a35" url="${anypoint.apm.url-prefix}/partners/api/v1/organizations/${anypoint.apm.orgid}/environments/${anypoint.apm.envid}/certificates" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.sessionToken
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Certificates List" doc:id="6f893839-38cf-4fe2-8563-ce43770b8e49" >
			<ee:message >
				<ee:set-payload resource="maps/APM-Certificates-List.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="306ddd99-9844-423e-9baf-826d4a86fb9b" message="Certificates list: #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="6d0e2989-a5e4-4c8f-90d6-f98ecb5a1314" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mcp-b2b-partner-getpartnerprofiles-Flow" doc:id="e7b8094b-f783-42d7-9e40-f234e7a53b8c" >
		<mcp:tool-listener doc:name="get-b2b-partner-profiles" doc:id="61ec66b1-b2ff-4c71-bd5a-16e39446dfba" config-ref="MCP_Server_PartnersAPI" name="get-b2b-partner-profiles">
			<reconnect-forever />
			<mcp:description ><![CDATA[Get the list of all B2B partner profiles along with their name, identifiers and contact information]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "properties": {},
  "required": []
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<logger level="INFO" doc:name="Logger" doc:id="f3f753da-4031-40cd-8fbf-da407024e3e3" message="Retrieving Anypoint Partner Manager Partner Profiles" />
		<flow-ref doc:name="retrieve_anypointAccessToken" doc:id="16ef56b3-9730-4e03-aaf1-3b740deaa579" name="retrieve_anypointAccessToken_Sub_Flow" />
		<http:request method="GET" doc:name="Get APM Partners List" doc:id="76ee4c6f-cbe9-4518-90e7-518221206f83" url="${anypoint.apm.url-prefix}/partners/api/v1/organizations/${anypoint.apm.orgid}/environments/${anypoint.apm.envid}/partnerprofiles" >
			<reconnect-forever />
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.sessionToken
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"pageSize" : "200",
	"excludeIdentifiersCount" : "true",
	"includeHost" : "false"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="2a9fdb5e-4065-42a6-86a4-deda3d0ed694" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="534121d8-a5d0-4767-8c01-4b32cbc955d2" >
			<ee:message >
				<ee:set-payload resource="maps/APM-Partner-Profiles-Response-to-MCP-Client.dwl" />
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message1" doc:id="ae5b35e4-eb7d-4bda-ae4c-aeb34744fdef" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mcp-b2b-partner-CreatePartner-Flow" doc:id="b888fa6b-e065-43d4-b405-1f405f10fe23" >
		<mcp:tool-listener doc:name="create-b2b-partner-profile" doc:id="63fab3c6-c5f5-4ed2-8415-901e9bc1b0c5" config-ref="MCP_Server_PartnersAPI" name="create-b2b-partner-profile">
			<reconnect-forever />
			<mcp:description ><![CDATA[Create a new B2B partner profile in Anypoint Partner Manager, with name, identifiers, and Contact information.
The response includes the newly created partner's id and an URL that the user can directly click to open the partner profile page in Anypoint Partner Manager.]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "required": ["partnerType", "partnerName", "identifiers", "contact"],
  "properties": {
    "partnerType": {
      "type": "string",
      "description": "Type of the partner",
      "enum": ["PARTNER", "THIRD_PARTY"]
    },
    "partnerName": {
      "type": "string",
      "description": "Name of the partner"
    },
    "identifiers": {
      "type": "array",
      "description": "List of identifiers for the partner",
      "minItems": 1,
      "items": {
        "type": "object",
        "required": ["identifierCode", "value"],
        "properties": {
          "identifierCode": {
            "type": "string",
            "description": "Code or type of the identifier"
          },
          "value": {
            "type": "string",
            "description": "Value of the identifier"
          }
        }
      }
    },
    "contact": {
      "type": "object",
      "required": ["name", "email"],
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the contact person or team"
        },
        "email": {
          "type": "string",
          "format": "email",
          "description": "Email address of the contact"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the contact"
        }
      }
    }
  },
  "additionalProperties": false
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<logger level="INFO" doc:name="Logger" doc:id="17b94d0d-11bd-43c1-b3c4-daeaf4028c1c" message="Creating new partner profile: #[payload]" />
		<flow-ref doc:name="retrieve_anypointAccessToken" doc:id="0fc7d2c7-6f29-4cb7-8c42-959337731982" name="retrieve_anypointAccessToken_Sub_Flow" />
		<ee:transform doc:name="Transform Message" doc:id="cee94a1b-5603-467e-8311-7d80f00dc558" >
			<ee:message >
				<ee:set-payload resource="maps/MCP-Partner-Create-to-APM-Partner-Create.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6312cf68-d7ed-408a-86ae-54e38c72ff27" message="Payload being sent to APM Partners API: #[payload]"/>
		<http:request method="POST" doc:name="Create APM Partner" doc:id="317a9fc7-9508-4341-8cbb-6e4a57d26074" url="${anypoint.apm.url-prefix}/partners/api/v1/organizations/${anypoint.apm.orgid}/environments/${anypoint.apm.envid}/partnerprofiles">
			<reconnect-forever />
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.sessionToken
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"pageSize" : "200",
	"excludeIdentifiersCount" : "true",
	"includeHost" : "false"
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="ffdbdaad-1744-48b4-859f-f159185cb04f" message="Created partner profile. #[payload.id]"/>
		<ee:transform doc:name="Partner Profile URL" doc:id="12946005-eb46-4585-bc17-a3a50fbe6869" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"partnerId": payload.id,
	"partnerPageUrl": "https://anypoint.mulesoft.com/partnermanager/#/organizations/" ++ p('anypoint.apm.orgid') ++ '/environments/' ++ p('anypoint.apm.envid') ++ '/partners/' ++ payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="937ac672-6fb7-4a64-93ed-334702ddfeae" message="Partner Creation Response: #[payload]"/>
		<ee:transform doc:name="Return Response" doc:id="0c3cd304-a210-4f45-ad4a-8a7969af563f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a8e938e8-4296-464f-9650-646b4d570ece" message="Final Response: #[payload]"/>
		<async doc:name="Async" doc:id="f6920f59-75a1-4cac-b0b9-d28bba172684" >
			<flow-ref doc:name="Sync Partner Profiles" doc:id="28beaf16-2463-425c-aea0-f0d72e96d4d2" name="apm-sync-configs-partnerprofiles-Flow"/>
		</async>
	</flow>
	<flow name="mcp-b2b-partner-CreateEndpoints-Flow1" doc:id="00333679-76fd-4d09-b3fd-35d4d9c698ec" >
		<mcp:tool-listener doc:name="create-b2b-endpoints" doc:id="c248b391-5bc0-45b5-861d-7b909a957506" config-ref="MCP_Server_PartnersAPI" name="create-b2b-endpoints" >
			<reconnect-forever />
			<mcp:description ><![CDATA[Create new endpoints in Partner Manager for protocols such as SFTP, FTP, HTTP, HTTPS and AS2.]]></mcp:description>
			<mcp:parameters-schema ><![CDATA[{
  "$schema": "http://json-schema.org/draft-07/schema#",
  "type": "object",
  "required": ["partnerName", "endpoints"],
  "properties": {
    "partnerName": {
      "type": "string",
      "description": "Name of the partner"
    },
    "endpoints": {
      "type": "array",
      "description": "List of communication endpoints for the partner",
      "minItems": 1,
      "items": {
        "type": "object",
        "required": [
          "endpointName",
          "protocol",
          "direction",
          "serverAddress",
          "port",
          "authType",
          "username",
          "password",
          "path"
        ],
        "properties": {
          "endpointName": {
            "type": "string",
            "description": "Name of the endpoint"
          },
          "protocol": {
            "type": "string",
            "enum": ["sftp", "ftp", "http", "https", "as2"],
            "description": "Communication protocol"
          },
          "direction": {
            "type": "string",
            "enum": ["RECEIVE", "SEND"],
            "description": "Direction of data flow"
          },
          "serverAddress": {
            "type": "string",
            "description": "Server address for the endpoint"
          },
          "port": {
            "type": "integer",
            "description": "Port number"
          },
          "authType": {
            "type": "string",
            "enum": ["BASIC"],
            "description": "Authentication type"
          },
          "username": {
            "type": "string",
            "description": "Username for authentication"
          },
          "password": {
            "type": "string",
            "description": "Password for authentication"
          },
          "path": {
            "type": "string",
            "description": "Path on the server"
          },
          "supportedFormats": {
            "type": "string",
            "enum": ["EDI", "NON_EDI"],
            "description": "Supported file formats"
          },
          "pollingFrequency": {
            "type": ["integer", "null"],
            "description": "Polling frequency in milliseconds"
          },
          "sizeCheckWaitTime": {
            "type": ["integer", "null"],
            "description": "Wait time for size check in milliseconds"
          },
          "fileNamePattern": {
            "type": "string",
            "description": "Pattern for matching or generating filenames"
          }
        }
      }
    }
  }
}]]></mcp:parameters-schema>
			<mcp:responses >
				<mcp:text-tool-response-content text="#[payload.^raw]" />
			</mcp:responses>
		</mcp:tool-listener>
		<logger level="INFO" doc:name="Logger" doc:id="e913d975-2c68-4b4b-b7ea-fe475ef279ad" message="Creating new endpoints: #[payload]" />
		<set-variable value="#[payload]" doc:name="endpoints" doc:id="1626a8b5-dcf1-4372-a9b0-7bc1c10dfab0" variableName="endpointsList"/>
		<flow-ref doc:name="retrieve_anypointAccessToken" doc:id="67b893db-31db-42cf-b9d4-e69433834b69" name="retrieve_anypointAccessToken_Sub_Flow" />
		<until-successful maxRetries="2" doc:name="Until Successful" doc:id="2e2be85b-a5c7-4290-a933-9efac512d324" millisBetweenRetries="30000">
			<try doc:name="Try" doc:id="059c2497-d547-456b-becc-931be9b0c341">
			<os:retrieve doc:name="Retrieve" doc:id="ff9543b8-bc82-4b01-86b6-2ed5d5b6a4dd" key="apmPartnerProfiles" objectStore="Object_store_APM_Configs" />
			<set-variable value="true" doc:name="apmProfilesFound - true" doc:id="ddb4ef93-ac6b-4fe7-969e-44e2c5db85d2" variableName="apmProfilesFound" />
			<set-variable value="#[payload]" doc:name="apmPartners" doc:id="ff90b09f-8647-472a-b484-9e0728ec21d5" variableName="apmPartners" />
			<error-handler>
				<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="823b18ef-b83e-47c9-b1f8-87898ae90683">
					<logger level="INFO" doc:name="Sync Partner Profiles in OS" doc:id="e9a8ed37-b051-4266-9edb-dd3aa46952fb" message="Syncing Partner Profiles in OS"/>
						<flow-ref doc:name="Sync Partner Profiles" doc:id="c19ace69-472a-4ee9-900a-28f04fddf10f" name="apm-sync-configs-partnerprofiles-Flow"/>
				</on-error-continue>
			</error-handler>
		</try>
		</until-successful>
		<foreach doc:name="For Each" doc:id="23e7d97c-ba5a-4329-a251-9663c02ba912" collection="#[vars.endpointsList.endpoints]">
			<logger level="INFO" doc:name="Logger1" doc:id="1cf4f433-e4ac-48a1-a55c-8f1146057550" message="Creating #[payload.protocol] #[payload.direction] endpoint for #[vars.endpointsList.partnerName]" />
			<choice doc:name="Choice" doc:id="22010b9f-bb9d-41e8-96d1-04f6205d632f" >
				<when expression="#[payload.protocol == 'sftp' and payload.direction == 'RECEIVE']">
					<logger level="INFO" doc:name="SFTP Receive" doc:id="7cd0cf5f-70f6-4267-9246-622d556d0a55" message="Creating SFTP Receive Endpoint"/>
					<ee:transform doc:name="SFTP Receive" doc:id="9baadf99-cbb0-42fc-8622-b4a968250ef7">
				<ee:message>
							<ee:set-payload resource="maps/MCP-Endpoint-Create-Obj-to-APM-SFTP-Receive-Endpoint-Create.dwl" />
				</ee:message>
			</ee:transform>
				</when>
				<when expression="#[payload.protocol == 'sftp' and payload.direction == 'SEND']">
					<logger level="INFO" doc:name="SFTP Send" doc:id="578ea6e6-ab17-4971-8df0-6c5d006da3eb" message="Creating SFTP Send Endpoint"/>
					<ee:transform doc:name="SFTP Send" doc:id="a5db95d0-b626-447e-8584-bd186e447fbe" >
						<ee:message >
							<ee:set-payload resource="maps/MCP-Endpoint-Create-Obj-to-APM-SFTP-Send-Endpoint-Create.dwl" />
						</ee:message>
					</ee:transform>
				</when>
			</choice>
			<logger level="INFO" doc:name="Logger" doc:id="ba4f0874-6f6c-4981-b4d9-38f78667e26a" message="#[payload]"/>
			<http:request method="POST" doc:name="Create Endpoint" doc:id="8999fcc7-52a5-4e25-bf19-b34bae1c7700" url="${anypoint.apm.url-prefix}/partners/api/v1/organizations/${anypoint.apm.orgid}/environments/${anypoint.apm.envid}/endpoints">
			<reconnect-forever />
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "Bearer " ++ vars.sessionToken
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	"pageSize" : "200",
	"excludeIdentifiersCount" : "true",
	"includeHost" : "false"
}]]]></http:query-params>
		</http:request>
			<logger level="INFO" doc:name="Logger2" doc:id="bcae3774-dc32-41b1-8584-d415f2d88c49" message="Created Endpoints. #[payload]" />
		</foreach>
		<ee:transform doc:name="Partner Profile URL" doc:id="b83db317-ad1e-4f3b-90e5-2a052182f712">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"partnerName": vars.endpointsList.partnerName,
	"endpointsCreated": vars.endpointsList.endpoints.protocol
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger3" doc:id="98f89194-b5e3-42b1-a62c-869b31e057f6" message="Partner Creation Response: #[payload]" />
		<ee:transform doc:name="Return Response" doc:id="30dfedd7-6770-4ddf-a563-f5e7ca14eadd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
write(payload, "application/json")
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger4" doc:id="dea1e71a-2871-4b79-a80b-3c6c9276ebee" message="Final Response: #[payload]" />
	</flow>
</mule>
